<nav class="navbar navbar-expand-lg navbar-light Fondonav">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white">
        <img src="./../../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="icono">
        Prueba de Angular
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
                <a [routerLink]="['/']" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item active">
                <a [routerLink]="['/services']" class="nav-link text-white">Quienes Somos</a>
            </li>
            <li class="nav-item active">
                <a [routerLink]="['/equipos']" class="nav-link text-white">Equipos</a>
            </li>
            <li class="nav-item active">
                <a [routerLink]="['/galeria']" class="nav-link text-white">Galería</a>
            </li>
            <li class="nav-item active">
                <a [routerLink]="['/talleres']" class="nav-link text-white">Talleres</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contact']" class="nav-link text-white">Contacto</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/register']" class="nav-link text-white">Registrarse</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link text-white">Login</a>
            </li>
        </ul>
    </div>
</nav>