<section>
    <div class="container galeria Fondogal">
        <div class="text-center mt-5 pt-3">
            <h1>{{titleGal}}</h1>
            <h4>{{subGal}}</h4>
        </div>
        <div class="row pb-3">

            <div *ngFor="let gal of contentGal" class="col-lg-4 col-md-6 col-12">
                <img src="{{gal.urlImgGal}}" class="img-thumbnail" alt="{{gal.altGal}}">
            </div>

        </div>
    </div>
</section>