/*Galería de imágenes*/
.Fondogal{
    background-color: #ffee93;
}
.galeria .col-lg-4 {
    margin: 0 !important;
    padding: 20px;
}
.galeria img{
    width: 100%;
    height: 250px;
}
.galeria img:hover{
    border: 5px solid rgb(255, 255, 255);
}
