<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="cuenta container mt-5 pt-2 pb-2">    
        <div class="simple-login-container">
            <h2 class="text-white pb-3">Login</h2>
            <div class="row">
                <div class="col-md-12 form-group pb-2">
                    <input type="email" formControlName="email" class="form-control"placeholder="name@example.com">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group pb-2">
                    <input type="password" formControlName="password" placeholder="Enter your Password" class="form-control" >
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-block pt-2" [disabled]="loginForm.invalid">Login</button>
        </div>
    </div>
</form>