<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="cuenta container mt-5 pt-2 pb-2">    
        <div class="simple-login-container">
            <h2 class="text-white pb-3">Registrarme</h2>
            <div class="row">
                <div class="col-md-12 form-group pb-2">
                    <input type="text" formControlName="name" class="form-control"placeholder="Escribe tu nombre" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group pb-2">
                    <input type="email" formControlName="email" class="form-control"placeholder="name@example.com">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group pb-2">
                    <input type="password" formControlName="password" placeholder="Enter your Password" class="form-control" >
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-block pt-2" [disabled]="registerForm.invalid">Enviar</button>
        </div>
    </div>
</form>