<section>
    <div class="container-fluid mb-5 mt-5 Contacto">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 py-2 pt-3">
                <h1>Contactanos</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 pb-4">
                <form>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Nombre y Apellido</label>
                            <input type="text" class="form-control" id="validationDefault01" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault02">Email</label>
                            <input type="email" class="form-control" id="validationDefault02" placeholder="@example.com" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-2">
                            <label for="validationDefault03">Asunto</label>
                            <input type="text" class="form-control" id="validationDefault03" required>
                        </div>
                        
                        <div class="form-group col-12 col-md-6 ">
                            <label for="exampleFormControlTextarea">Mensaje</label>
                            <textarea class="form-control" id="exampleFormControlTextarea" rows="3" value="Escriba su mensaje" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                            He completado los datos correctamente
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-danger" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
