<section>
    <div class="container mt-5">
        <div class="jumbotron Talleresjum">
            <h1 class="display-4 text-center">{{jumNewTaller}}</h1>
            <p class="lead text-center">{{jumDesTaller}}</p>
            <hr class="my-4">
            <p class="text-center">{{jumSubTaller}}</p>
            <a class="btn btn-warning btn-lg btn-block" href="{{urlInscripcion}}" target="_blank" role="button" (click)="alertJum(jumMen)">
            Inscribite</a>
        </div>
    </div>
</section>
<section class="container bg-light">
    <div>
        <div class="row text-center">
            
            <div *ngFor="let tallerr of cardTalleres" class=" col-md-4 col-sm-12 col-12 ">
                <div *ngIf="tallerr.bandera">
                    <app-card [taller]='tallerr' (mensajeNewTaller)="newMensaje($event)" ></app-card> <!--Aplicación de un Input-->
                </div>
            </div>
            
        </div>
    </div>
</section>
