<section>
    
    <div class="container mt-5 Equipos pt-1">
        <div class="text-center pt-3">
            <h1>{{ titleE }}</h1>
            <p>{{ subTitle }}</p>
        </div>
        <div class="row">
            <div *ngFor="let card of cardsContent" class="card col-md-3 col-sm-12 col-12 Equipos" style="width: 18rem;">
            
                <div class="card Equipos" >
                    <img class="card-img-top" src="{{card.urlImg}}" >
                    <div class="card-body">
                        <h5 class="card-title"><b>{{card.cardTitle}}</b></h5>
                        <p class="card-text">{{card.cardBody}}</p>
                        <a href="mailto:{{card.email}}" class="btn btn-danger btn-block" target="_blank">{{card.cardButton}}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <table class="table container mt-5 text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Equipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Puesto</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let miembro of miembros" >
            <th scope="row"></th>
            <td class="bg-light">{{miembro.equipo}}</td>
            <td class="bg-light">{{miembro.nombre}}</td>
            <td class="bg-light">{{miembro.apellido}}</td>
            <td class="bg-light">{{miembro.puesto}}</td>
        </tr>
        </tbody>
    </table>
    
</section>
