<div class="card h-100 {{taller.cardStyle}}">
  <div class="card-image">
    <img
    src="{{ taller.imgTaller }}"
    style="width: 50%; height: 80px; margin-top: 20px"/>
  </div>
  <div class="card-body ">
    <h5 class="card-title">{{ taller.titleTaller}}</h5>
    <p>{{ taller.contentTaller }}</p>
    <button class="btn btn-warning" (click)="newTaller()">{{ taller.buttonTaller}}</button>
  </div>
</div>
