<section class="container mt-5 Servicios">
    <div class="row mb-2">
        <div class="col-12 text-center text-white pt-4">
            <h1><b>Quienes Somos</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-5">
            <img src="../../../../assets/copasca.jpg" class="img-thumbnail" alt="logo copasca">
        </div>
        <div class="col-12 col-md-8 text-center align-items-center text-white pt-5">
            <h2><strong>Comisión Pastoral Scout Católica</strong></h2>
            <p class="Fuentep"><br><br>
                Somos Asociación Privada de Fieles, con Personalidad Jurídica Canónica otorgada por la <b>Conferencia Episcopal Argentina (CEA).</b>
                Tenemos por finalidad principal, educar en la Fe Católica a niños y jóvenes, varones y mujeres, mediante la aplicación del Método Scout, 
                ideado por "Lord Baden Powell de Gilwell", de conformidad con las pautas que en lo metodológico dicte <b>Scouts de Argentina Asociación Civil
                (SAAC)</b>, con el enfoque Cristiano de la Educación según la Iglesia Católica Universal y en Argentina, y con los Principios de Amor a Dios, 
                a la Patria y a la Familia. <br> Desarrollamos e implementamos una pedagogía de la Fe Católica, por medio del Método Scout, 
                para todos los miembros Católicos de los Grupos Scouts en SAAC. También promovemos la Comunión Eclesial y la Participación en la 
                Pastoral de Conjunto de la Iglesia Católica, en todos sus ámbitos. <br>
                Todo esto con un amplio equipo de voluntarios de todo el país, comprometidos con el fin de la educación en la fe.
            </p>
        </div>
    </div>
</section>
