<section class="mt-5">
    <div class="conteiner row bg-dark">
        <div class="col-12 col-md-5"><!--Información-->
            <div>
                <div class="mb-4 mt-3">
                    <h4 class="text-center text-white">{{titleInf}}</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center text-center ml-3 mr-3">
                <p class="text-white fuente">{{contentInf}}</p>
            </div>
            
            <div class="d-flex justify-content-center mt-3">
                <a href="{{urlSaac}}" target="_blank">
                    <img src="{{imgSc}}" style="width: 50%; height: 150px; margin-left: 25%;" alt="Scouts de Argentina">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-2"><!--Redes Sociales-->
            <div>
                <div class="mb-4 mt-3">
                    <h4 class="text-center text-white mb-5">{{titleSoc}}</h4>
                    <p class="text-center text-white fuente">{{contentSoc}}</p>
                </div>
            </div>

            <div class="d-flex justify-content-around align-items-center">
                <a *ngFor="let soc of contentSocial" href="{{soc.urlSocial}}" target="_blank">
                    <img src="{{soc.urlIcon}}" height="35px" alt="{{soc.altSocial}}">
                </a>
            </div>

            <div class="mt-3">
                <p class="text-center text-white fuente">{{textSoc}}</p>
            </div>
            <div class="text-center">
                <a href="mailto:copasca@scouts.org.ar" target="_blank">
                    <img src="../../../../assets/envelope-solid.svg" height="35px" alt="Correo">{{emailSoc}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-5"><!--GoogleMaps-->
            <div class="mb-4 mt-3">
                <h4 class="text-center text-white">Donde Encontrarnos</h4>
            </div>
            <div class="content-align-center ml-3 mr-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.11684072559876!2d-58.38458511722088!3d-34.593245678603935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaba1f7a9c05%3A0x91222a1d620a7ffd!2sScouts%20of%20Argentina!5e0!3m2!1sen!2sar!4v1617837032680!5m2!1sen!2sar" width="100%" height="300" style="border: 1px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>