/* You can add global styles to this file, and also import other style files */
.img {
    background-image: url(./assets/Fondo.svg);
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
}